/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
    outline: 2px dashed black;
    font-size: 0px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 16px;
    box-sizing: border-box;
}

#header {
    min-height: 150px;
    background-color: green;
    margin-bottom: 16px;
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
}

#main_content {
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 12px;
    box-sizing: border-box;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-right: 15px;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 24px;
}
